<div class="chat-page">
  <h3 style="margin-top: 50px">Global chat:</h3>
  <div class="chat-messages">
    <div *ngIf="messages.length === 0">Még nincsenek üzenetek...</div>

    <div *ngFor="let message of messages">
      <div class="message-card">
        <small>{{ message.user }} - </small>
        <small>{{ message.timestamp | date : "shortTime" }}</small>
        <br />
        <strong>{{ message.content }}</strong>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #messageForm="ngForm" class="message-form">
    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          id="user"
          name="user"
          [(ngModel)]="user"
          required
          maxlength="100"
          class="form-control"
          placeholder="Add meg a neved..."
        />
      </mat-form-field>
    </div>

    <div class="input-group">
      <mat-form-field>
        <input
          matInput
          type="text"
          id="content"
          name="content"
          [(ngModel)]="content"
          required
          maxlength="100"
          placeholder="Aa"
        />
      </mat-form-field>
      <button
        class="send-button"
        mat-stroked-button
        type="submit"
        [disabled]="isLoading || messageForm.invalid"
      >
        {{ isLoading ? "Küldés..." : "Üzenet Küldése" }}
      </button>
    </div>
  </form>
</div>
