.welcome-dialog {
  min-width: 350px;
  padding: 20px;
  background-color: var(--background);
  color: var(--primary-text);
  h2 {
    color: var(--primary-color);
    margin-bottom: 16px;
  }
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-title {
  color: var(--primary-text);
  font-size: 24px;
  font-weight: 500;
}

.full-width {
  width: 100%;
  margin-top: 16px;
}

h2 {
  color: var(--primary-color);
  margin-bottom: 16px;
}

p {
  color: var(--secondary-text);
  margin-bottom: 16px;
}

mat-dialog-actions {
  margin-top: 24px;
  padding: 0;
}
